// BASE STYLING

.content-container {
    padding-right: 9em;
}

// ROOT -------------------------------
#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
    background-color: #000000;
}

// PAGE-CONTENT ---------------------------
.page-content {
    width: 100%;
    transform: translate(0px, -21px);
    height: auto;
    padding-bottom: 2em;
    padding-right: 240px;
}

// APP HEADER ---------------------------
.app-header {
    position: relative;
    z-index: 10;

    #app-header-menu {
        display: none;
    }
    .menu-button {
        background-color: none;
    }
}

// HERO ---------------------------
#home {
    border-bottom: 0.2em solid #FFC600;
}
.hero-banner {
    width: 100%;
    height: 31em;
    background-image: url('../../static/images/treeoflife.jpg');
    background-size: cover;
    background-position-y: bottom;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;

    #hero-content {
        max-width: 40%;
        min-width: 20em;
        background-color: #00000060;
        padding: 1em;

        display: flex;
        flex-direction: column;
        align-items: center;

        h1, p {
            margin: 0;
            color: #FFFFFF;
            font-family: var(--base-font-family);
            text-align: center;
        }
        h1 {
            font-size: 1.5em;
            padding-bottom: 0.25em;
        }
        p {
            font-size: 0.75em;
        }
        button {
            width: max-content;
            background-color: #FFC600;
            border: 1px solid #FFC600;
            border-radius: 0.2em;
            padding: 0.5em;
            margin-top: 0.75em;
        }
        button:hover {
            background-color: #000000;
            border: 1px solid #FFC600;
            color: #FFC600;
        }
    }
}

// EVENTS ---------------------------
#events {
    padding-top: 1em;
    border-bottom: 0.2em solid #FFC600;
}

// EVENT FILTER
#filter-container {
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 1em;
}

// EVENT GRID
.events-grid {
    display: grid;
    width: 80%;
    margin: auto;
    padding-top: 1em;

    #card-container {
        padding-bottom: 2em;
    }
}

// VENUE ---------------------------
#venue {
    padding-top: 1em;
    border-bottom: 0.2em solid #FFC600;
}
.venue-nav {
    height: auto;
    width: 60%;
    margin: 1em auto;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        font-family: var(--base-font-family);
        font-size: 0.75em;

        width: 100%;
        display: flex;
        justify-content: center;
        
        li {
            margin: 0.5em;
            width: 100%;
            text-wrap: nowrap;
        }

        li a {
            display: block;
            color: #000000;
            text-align: center;
            padding: 0.75em;
            text-decoration: none;
            background-color: #bdbdbd;
            border: 1px solid #bdbdbd;
            border-radius: 0.2em;
        }
        li a:hover {
            background-color: #FFC600;
            font-weight: bold;
            border: 1px solid #FFC600;
        }
    }
}
.venue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;

    #location, #map, #accessibility, #parking, #transport {
        height: auto;
        width: 70%;
        background-color: #2b2b2b;
        margin: 0.5em;
        border-radius: 0.2em;
        padding: 0.5em;

        h1, p {
            font-family: var(--base-font-family);
            color: #FFFFFF;
            margin: 0;
        }
        h1 {
            font-size: 1em;
        }
        p {
            font-size: 0.75em;
        }
    }
    #location {
        display: flex;
        justify-content: space-between;

        .left {
            display: flex;
            flex-direction: column;
        }
    }
    #loc-img {
        width: 15em;
        height: 10em;
        background-color: #bdbdbd;
        float: right;
        background-image: url('../../static/images/placeholder.png');
        background-size: cover;
        background-position: center;
    }
    #map {
        display: flex;

        h1 {
            padding-left: 0.5em;
        }
    }
    #map-img {
        width: 15em;
        height: 10em;
        background-color: #bdbdbd;
        background-image: url('../../static/images/placeholder.png');
        background-size: cover;
        background-position: center;
    }
}

// ABOUT ---------------------------
#about {
    padding-top: 1em;
    border-bottom: 0.2em solid #FFC600;
}
.about-container {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 1em 0;
}
table {
    width: 90%;
    margin: auto;

    td, tr {
        padding: 0.5em;

        text-align: center;
        color: #FFFFFF;
        font-family: var(--base-font-family);

        h1, h2, p { text-align: left; }
        h1 { font-size: 1.5em; }
        h2 { font-size: 1em; }
        p { font-size: 0.75em; }
    }
    td {
        width: 50%;
    }
    #about-img {
        width: 15em;
        height: 15em;
        background-image: url('../../static/images/placeholder.png');
        background-size: cover;
        border-radius: 0.2em;
        margin: auto;
    }
    button {
        width: 80%;
        max-width: 20em;
    }
}

button {
    border: 1px solid #FFC600;
    background-color: #FFC600;
    padding: 0.5em;
    border-radius: 0.2em;
}

// RESPONSIVE - TABLET --------------------------------------------
@media all and (min-width: 768px) {
    
}

// RESPONSIVE - MOBILE --------------------------------------------
@media all and (min-width: 400px) {

}