// BASE STYLING

html {
    scroll-behavior: smooth;
    scroll-margin-top: 80px; // Compensate for the sticky nav 
}

// ROOT -------------------------------
#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
    background-color: #000000;
}

// SCREEN CONTENT --------------------------
#admin-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 9em;
    height: 100vh;
    z-index: 100;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}
#admin-nav.visible {
    transform: translateX(0)
}

#screen-content {
    margin-right: 0;
}
#screen-content.shifted {
    margin-right: 9em;
    transition: margin-right 0.3s ease;
}

// PAGE-CONTENT ---------------------------
.page-content {
    width: 100%;
    transform: translate(0px, -21px);
    height: auto;
    padding-bottom: 2em;
    padding-right: 240px;
}

// APP HEADER ---------------------------
.app-header {
    position: relative;
    z-index: 10;

    #app-header-menu {
        display: none;
    }
}

// HERO ---------------------------
#home {
    border-bottom: 0.2em solid #FFC600;
    height: calc(100vh - 80px); //to compensate for header, otherwise div spills over viewport
    scroll-margin-top: 80px; // Compensate for the sticky nav 
}
.hero-banner {
    width: 100vw;
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;

    .hero-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }
    #hero-content {
        width: 70vw;
        background-color: #000000a3;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;

        h1, h3, p {
            margin: 0;
            color: #dedede;
            font-family: var(--base-font-family);
            text-align: center;
        }
        h1 {
            font-size: 2em;
        }
        h3 {
            font-size: 1.5em;
            padding-top: 0.7em;
        }
        p {
            font-size: 1em;
            color:#dedede
        }
        button {
            width: max-content;
            background-color: #FFC600;
            border: 1px solid #FFC600;
            border-radius: 0.2em;
            padding: 0.7em;
            margin: 0.7em;
            font-size:1.2em;
        }
        button:hover {
            background-color: #000000;
            border: 1px solid #FFC600;
            color: #FFC600;
        }
    }
    .video-control {
        position: absolute;
        bottom: 2em;
        right: 2em;
        background-color: #FFC600;
        color: #000000;
        border: none;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s;

        i {
            font-size: 1.8em;
        }
    }
}

// EVENTS ---------------------------
#events {
    padding-top: 1em;
    border-bottom: 0.2em solid #FFC600;
    scroll-margin-top: 80px; // Compensate for the sticky nav 
}

// EVENT FILTER
#filter-container {
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 1em;
}

// EVENT GRID
.events-grid {
    display: grid;
    width: 80%;
    margin: auto;
    padding-top: 1em;

    #card-container {
        padding-bottom: 2em;
    }
}

// VENUE ---------------------------
#venue {
    padding-top: 1em;
    border-bottom: 0.2em solid #FFC600;
    scroll-margin-top: 80px; // Compensate for the sticky nav 
}
.venue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;

    #location, #map, #accessibility, #parking, #transport {
        height: auto;
        width: 70%;
        background-color: #2b2b2b;
        margin: 0.5em;
        border-radius: 0.2em;
        padding: 1em;

        .subtitle, .bold, .paragraph {
            font-family: var(--base-font-family);
            color: #FFFFFF;
            margin: 0;
            text-align: left;
        }
        .subtitle {
            font-size: 1em;
            font-weight: bold;
        }
        .bold {
            font-size: 0.9em;
            font-weight: bold;
        }
        .paragraph {
            font-size: 0.75em;
            margin: 0.5em 0;
        }
        
        .info {
            display: flex;
            align-items: flex-start;
        }
    }
    #location {
        display: flex;
        justify-content: space-between;

        .left {
            display: flex;
            flex-direction: column;
        }
        .google-map {
            margin: 0.5em;
            position: relative;
            min-height: 200px;
        }
        .google-map iframe {
            max-height: 100%;
            max-width: 100%;
            left: 0;
            top: 0;
            position: relative;
        }
    }
    #map {
        display: flex;

        .subtitle {
            padding-left: 0.5em;
            width: 50%;
        }
    }
    #map-img {
        width: 100%;
        height: 350px;
        background-color: #bdbdbd;
        background-image: url('../../static/images/festival-map.png');
        background-size: cover;
        background-position: center;
        border-radius: 0.2em;
        margin: 0.5em;
    }
}

// ABOUT ---------------------------
#about {
    padding-top: 1em;
    border-bottom: 0.2em solid #FFC600;
    scroll-margin-top: 80px; // Compensate for the sticky nav 
}
.about-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: auto;
    padding: 1em 0;

    h1, h2, p {
        font-family: var(--base-font-family);
        color: #FFFFFF;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 0.9em;
    }
    p {
        font-size: 0.75em;
    }

    #about-info, #contact-form {
        margin: 0.5em;
    }
}

// RESPONSIVE - TABLET --------------------------------------------
@media all and (max-width: 768px) {
    
    #home{
        .video-control { //to move pause button to the top, otherwise it enrcoaches on the info box
            top: 1em;
            right: 1em;
        }
    }

    #location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .google-map {
            height: 300px;
        }
    }
    #map {
        display: flex;
        flex-direction: column-reverse;

        h1 {
            padding-left: 0.5em;
        }
    }
    #map-img {
        height: 300px !important;
        margin: 0.5em 0 !important;
    }

    .about-container {
        grid-template-rows: 1fr auto;
        grid-template-columns: auto;
    }
}

// RESPONSIVE - MOBILE --------------------------------------------
@media all and (max-width: 400px) {
    #location {
        .google-map {
            height: 250px;
        }
    }
    #map-img {
        height: 250px !important;
    }
}