// REACT COMPONENT STYLING

// HEADER MENU -----------------------------------------
.menu-item {
    font-family: var(--base-font-family) !important;
}

// CATEGORY FILTER ---------------------------------------
#category-container {
    width: 80%;
    margin: 0.5em auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .category-button {
        background-color: #bdbdbd;
        border-style: none;
        border-radius: 0.2em;
        padding: 0.5em;
        width: 100%;
        margin: 0.1em;
        text-wrap: nowrap;

        font-family: var(--base-font-family)
    }
    .category-button:hover {
        background-color: #FFC600;
        cursor: pointer;
        font-weight: bold;
    }
    .category-button.active {
        background-color: #FFC600;
        cursor: pointer;
        font-weight: bold; 
    }
    .category-list {
        width: 100%;
        display: flex;
        .MuiInputBase-root {
            background-color: #2b2b2b;
            width: 100%;
            margin: auto;
        }
        .Mui-focused .MuiOutlinedInput-notchedOutline {
            border: 2px solid #FFC600 !important;
        }
    }
}

// TAG FILTER --------------------------------------
#tag-container {
    margin: auto;
    width: 100%;
    padding: 0.25em;
    margin-bottom: 1em;
box-sizing: border-box;
    border-radius: 0.2em;
    background-color: #2b2b2b;

    .tag-button {
        margin: 0.25em;
        padding: 0.25em 0.5em;
        border-radius: 0.2em;
        background-color: #000000;
        border: 1px solid #000000;
        color: #bdbdbd;
        font-size: 0.75em;

        .material-icons {
            font-size: 0.75em;
            align-items: center;
        }
    }
    .tag-button:hover, .tag-button.active {
        border: 1px solid #FFC600;
        cursor: pointer;
        color: #FFC600;
    }
    .message {
        font-family: var(--base-font-family);
        font-size: 0.5em;
        color: #FFC600;
        text-align: center;

        margin: auto;
        padding: 1em;
    }
}

.floating-view-less {
    position: sticky;
    bottom: 0;
    right: 1em;
    z-index: 1000;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(255,255,255,0) 100%);
    padding-bottom: 1.5em;
}
.floating-view-more, .floating-view-less {
    .MuiButtonBase-root.MuiButton-root {
        background-color: #FFC600;
        color: #000000;
        text-transform: capitalize;
    }
}

// SKELETON ------------
.skel-grid{
    height: 100%;
    display: flex;
    flex-direction: row;

    .skel-box {
        padding-left: 1em;
    }
}    



// EVENT CARD --------------------------------------
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
}

.card-grid .MuiGrid-item {
    display: flex;
    flex-direction: column;
}
.card {
    background-color: #2b2b2b !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .event-content {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
    }

    .event-image {
        display: flex;
        height: 12em;
    }

    .event-stall-box {
        background-color: #000000;
        text-align: center;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        padding: 0.2em;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5em;

        p {
            color: #FFC600;
        }
        .stall {
            font-size: 0.5em;
            margin: 0;
            padding: 0;
            transform: translateY(2px);
        }
        .event-stall-number {
            margin: 0;
            transform: translateY(-3px);
        }
    }

    .event-title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        // event title
        .event-title {
            font-family: var(--base-font-family);
            font-weight: bold;
            font-size: 100%;
            color: #FFFFFF;
            padding: 1em;
        }
    }

    .event-description {
        font-family: var(--base-font-family);
        color: #FFFFFF;
        font-size: 75%;
        padding: 0 1.5em;
        padding-bottom: inherit;
        margin-bottom: revert;
    }

    .event-times {
        font-family: var(--base-font-family);
        color: #FFFFFF;
        font-size: 100%;
        padding: 0 1.5em 1em;
        margin-top: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;

        .event-description {
            margin-bottom: 0;
            padding: 0 0.3em;
        }
    }

    .event-button {
        display: flex;
        justify-content: center;
        padding: 0 1em;
        border: none;
        z-index: 10;
        pointer-events: all;

        .material-icons {
            color: #bdbdbd;
            width: 24px;
        }
    }
    .event-button:hover, .event-button.active {
        .material-icons {
            cursor: pointer;
        }
    }
    .hidden {
        display: none;
    }
}

// VENUE NAVIGATION ----------------------------------------
.venue-nav {
    justify-content: center;

    .MuiButtonBase-root {
        background-color: #bdbdbd;
        border-radius: 0.2em;
        border: 1px solid #bdbdbd;
        color: #000000;
        text-transform: capitalize;
        padding: 0.75em;
        margin: 0.25em;
    }
    .MuiButtonBase-root:hover {
        background-color: #FFC600;
        font-weight: bold;
        border: 1px solid #FFC600;
    }
}
.venue-nav-list {
    width: 100%;
    display: flex;
    .MuiInputBase-root {
        background-color: #2b2b2b;
        width: 40%;
        margin: auto;
    }
    .Mui-focused .MuiOutlinedInput-notchedOutline {
        border: 2px solid #FFC600 !important;
    }
}

// ABOUT - CONTACT FORM -----------------------------------------
#contact-form {
    min-width: 25em;
    height: auto;
    background-color: #2b2b2b;
    border-radius: 0.2em;
    padding: 0.5em 1.5em 1.5em 1.5em;
    font-family: var(--base-font-family);

    .MuiTypography-h2 {
        font-family: var(--base-font-family);
        color: #FFC600;
        font-size: 2em;
        padding-bottom:1em;
        font-weight: 400;
      }
      .MuiTypography-h3 {
        font-family: var(--base-font-family);
        color: white;
        font-size: 1.3em;
        padding-bottom:1em;
      }
      .MuiFormGroup-root{
        padding-bottom:1em;
      }

    .Mui-focused .MuiOutlinedInput-notchedOutline {
        border: 2px solid #FFC600 !important;
        padding: 0 18px;
     }

     .Mui-focused .MuiInputLabel-outlined {
        font-style: italic; 
        font-weight: bold;  
        color: #FFC600;      
    }

    .MuiInputLabel-root {
        &.Mui-focused {
            font-style: italic;
            font-weight: bold;
            color: #FFC600;
            font-size: 1.6rem;
        }
    }
    .MuiOutlinedInput-root {
        &.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: 2px solid #FFC600 !important;
        }
        input {
            background-color: white;
            border-radius: 0.2em;
        }
        fieldset {
            legend {
                width: fit-content !important;
                padding: 0 5px;
                background-color: white; 
                transform: translateY(-15px);
            }
        }
    }
    .MuiCheckbox-root {
        color: #bdbdbd;
    }
    
    .MuiCheckbox-root.Mui-checked  {
        color: #FFC600;
    }
    .MuiFormControlLabel-label {
        font-family: var(--base-font-family);
        font-weight: 300;
        color: #FFFFFF;
        font-size: 1em;
    }
    .MuiButtonBase-root.MuiCheckbox-root {
        padding: 0.3em;
        margin-left: 0.3em;
    }
    .MuiInputBase-multiline {
        background-color: white; /* Change background color here */
      }
    .MuiButton-root {
        background-color: #FFC600;
        border-color: #FFC600;
        color: #000000;
        padding: 0.5em 1em;
        margin-top: 1em;
        width: 40%;
        &:hover {
            background-color: #000000; 
            color: #FFC600; 
            border-color:#FFC600; 
        }

    }
    .submit-reset{
        display: flex;
        justify-content: space-between;
        text-transform: none;
    }
    .send-another-email{
        width: 100%;
        font-variant: normal;
        margin:20px 0;
        text-transform: none;
    }
    
}

// FOOTER DISCLAIMER -----------------------------------------
.MuiTypography-root.MuiDialogTitle-root {
    font-family: var(--base-font-family);
    padding: 1em 1.5em;
}
.MuiTypography-root.MuiDialogContentText-root {
    font-family: var(--base-font-family);
    padding: 0.5em;
}

// FOOTER LOGIN ------------------------------
.login-form {
    background-color: #ffffff;
}
.login-container {
    height: auto;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    font-family: var(--base-font-family);

    .login-title {
        font-size: 1.5em;
        text-align: center;
        font-weight: bold;
        color: #000000;
    }
    .login-section {
        margin: 0.5em 0;
        width: auto;
        border-radius: 0.2em;

        .form-sub {
            font-size: 0.9em;
            margin-bottom: 0.5em;
        }
        .form-text, .form-enquiry {
            margin: 0.25em 0;
            border-radius: 0.2em;
            font-family: var(--base-font-family);
            // text-field background
            .MuiInputBase-root {
                background-color: #ffffff;
                margin: 0.1em;
            }
            // text-field label colour
            .MuiInputBase-root, label {
                color: #000000;
                font-size: 0.75em;
            }
            // text-field outline not focused
            .MuiOutlinedInput.root .MuiOutlinedInput-notchedOutline {
                border: 1px solid #000000;
            }
            // text-field outline when focused
            .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                border: 0.2em solid #FFC600;
            }
            // text-field label shrink colour
            .MuiInputLabel-shrink {
                color: #FFC600;
            }
        }
        .form-checkbox {
            .MuiCheckbox-root {
                color: #bdbdbd;
            }
            .MuiCheckbox-root.Mui-checked  {
                color: #FFC600;
            }
            .MuiFormControlLabel-label {
                font-family: var(--base-font-family);
                color: #FFFFFF;
                font-size: 0.75em;
            }
            .MuiButtonBase-root.MuiCheckbox-root {
                padding: 0.3em;
                margin-left: 0.3em;
            }
        }
        .form-enquiry {
            width: 100%;
        }
    }
    .form-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .form-button {
            background-color: #FFC600;
            color: #000000;
            padding: 0.5em 1em;
        }
    }
    .MuiSnackbar-root {
        left: 43%;
    }
}

// ADMIN NAVIGATION ----------------------------------
#admin-icon {
    font-size: 5em;
    margin: 0.2em auto;
    color: #FFC600;
}
.admin-text {
    color: #FFC600;
    font-family: var(--base-font-family) !important;
    text-align: center;
}
.admin-text:first-of-type {
    font-size: 1.5em;
    font-weight: bold !important;
}

// NEW EVENT FORM -------------------------------------------------
.new-event-form {
    p {
        color: #000000;
    }
    .form-content {
        margin-top: 0.5em;
    }
    // text fields
    .MuiInputBase-root.MuiOutlinedInput-root {
        font-family: var(--base-font-family);
        font-size: 0.75em !important;
    }
    .form-text {
        margin: 0.25em 0;

        .MuiInputBase-root, label { // textfield colour
            color: #000000;
            font-size: 0.75em;
        }
        .MuiOutlinedInput-notchedOutline {
            border: 0.1em solid #000000;
        }
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: 0.2em solid #FFC600;
        }    
        .MuiInputLabel-shrink {
            color: #FFC600;
        }
    }

    // vendor details
    .vendor-details {
        display: flex;
        justify-content: space-between;
        .form-text {
            width: 32.5%;
        }
    }

    // upload image
    .image-input {
        margin: 1em 0 0.5em 0;
        .upload-image {
            background-color: #FFC600;
            height: 2.5em;
            width: 100%;
            margin-left: 1em;
        }
        .MuiButtonBase-root.MuiButton-root {
            color: #000000;
            border: none;
        }
    }

    // dropdown
    .category-dropdown {
        .MuiInputBase-input {
            padding: 8.5px 14px;
        }
        .MuiOutlinedInput-notchedOutline {
            border: 1px solid #000000;
        }
        
    }

    // checkboxes
    .form-section { //box containing tags
        background-color: #f5f5f5;
        padding: 1em;
        margin: 0.5em 0;
        border-radius: 0.2em;
    }
    .tag-grid { // turn display to grid and adjust layout
        display: grid;
        grid-template-columns: repeat(3, 33% [col-start]);
    }
    #tag-section { // checkbox display
        .form-sub {
            font-size: 1em;
        }
        .MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label { // checkbox text
            font-size: 0.75em;
        }
        .form-checkbox { // checkbox colors, checked and unchecked
            .MuiCheckbox-root {
                color: #505050;
            }
            .MuiCheckbox-root.Mui-checked {
                color: #505050;
            }
            .MuiButtonBase-root.MuiCheckbox-root {
                padding: 0.3em;
                margin-left: 0.3em;
            }
        }
    }

    // time details
    .time-details {
        display: flex;
        justify-content: space-between;

        .time-col {
            width: 49.5%;
        }
    }

    .event-button {
        border: 0.1em solid #000000 !important;
        background-color: #FFC600;
        color: #000000;
        box-shadow: none;
        margin-top: 1em;
    }
    .MuiButtonBase-root.MuiButton-root:hover {
        background-color: #000000;
        color: #FFFFFF;
    }
}

// MANAGE EVENTS ------------------------------------------------
.manage-event-container {
    width: 80%;
    height: 25em;
    background-color: #505050;
    border-radius: 0.2em;
    margin: auto;
    padding: 1em;
    overflow-x: hidden;
    scrollbar-color: #2b2b2b #505050;

    .grid-item {
        margin: 0.5em 0;

        .MuiStack-root { // grid rows
            align-items: center;
        }
        .edit-btn {
            background-color: #FFC600;
            color: #000000;
            text-transform: capitalize;
            font-family: var(--base-font-family);
            min-width: 3em;
            height: 1em;
            padding: 1em;
        }
        .delete-btn {
            color: black;
        }
        .grid-img {
            margin: 0 0.25em;
            display: flex;
            align-items: center;
        }
        .grid-text {
            margin: 0 0.25em;
        }

        .MuiInputBase-input.MuiOutlinedInput-input {
            background-color: #505050;
            border-radius: 0.3em;
        }
    }
}

// EDIT EVENT FORM ------------------------------------------
.edit-event-form {
    p {
        color: #000000;
    }
    .form-content {
        margin-top: 0.5em;
    }
    // text fields
    .MuiInputBase-root.MuiOutlinedInput-root {
        font-family: var(--base-font-family);
        font-size: 0.75em !important;
    }
    .form-text {
        margin: 0.25em 0;
        width: 100%;

        .MuiInputBase-root, label { // textfield colour
            color: #000000;
            font-size: 0.75em;
        }
        .MuiOutlinedInput-notchedOutline {
            border: 0.1em solid #000000;
        }
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: 0.2em solid #FFC600;
        }    
        .MuiInputLabel-shrink {
            color: #FFC600;
        }
    }

    // vendor details
    .vendor-details {
        display: flex;
        justify-content: space-between;
        .form-text {
            width: 32.5%;
        }
    }

    // upload image
    .image-input {
        margin: 1em 0 0.5em 0;
        .upload-image {
            background-color: #FFC600;
            height: 2.5em;
            width: 100%;
            margin-left: 1em;
        }
        .MuiButtonBase-root.MuiButton-root {
            color: #000000;
            border: none;
        }
    }

    // dropdown
    .category-dropdown {
        .MuiFormControl-root{
            width: 100%;
        }
        .MuiInputBase-input {
            padding: 8.5px 14px;
        }
        .MuiOutlinedInput-notchedOutline {
            border: 1px solid #000000;
            
        }
        
    }

    // checkboxes
    .form-section { //box containing tags
        background-color: #f5f5f5;
        padding: 1em;
        margin: 0.5em 0;
        border-radius: 0.2em;
    }
    .tag-grid { // turn display to grid and adjust layout
        display: grid;
        grid-template-columns: repeat(3, 33% [col-start]);
    }
    #tag-section { // checkbox display
        .form-sub {
            font-size: 1em;
        }
        .MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label { // checkbox text
            font-size: 0.75em;
        }
        .form-checkbox { // checkbox colors, checked and unchecked
            .MuiCheckbox-root {
                color: #505050;
            }
            .MuiCheckbox-root.Mui-checked {
                color: #505050;
            }
            .MuiButtonBase-root.MuiCheckbox-root {
                padding: 0.3em;
                margin-left: 0.3em;
            }
        }
    }

    // time details
    .time-details {
        display: flex;
        justify-content: space-between;

        .time-col {
            width: 49.5%;
        }
    }

    .event-button {
        border: 0.1em solid #000000 !important;
        background-color: #FFC600;
        color: #000000;
        box-shadow: none;
        margin-top: 1em;
    }
    .MuiButtonBase-root.MuiButton-root:hover {
        background-color: #000000;
        color: #FFFFFF;
    }
}

// RESPONSIVE - TABLET ---------------------------------
@media all and (max-width: 768px) {
    .event-card {
        max-width: 32%;
    }
    .form-container {
        width: auto;
    }
    .MuiList-root.MuiMenu-list {
        background-color: #000000;
        font-family: var(--base-font-family);
        font-size: 1em;
        padding: 1em;
        border: 1px solid #FFC600;
        border-radius: 0.2em;
        width: 40vw;
    }
    .venue-nav {
        width: 100%;

        .MuiBox-root {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 1em;
            flex-wrap: wrap;
        }
    }
    .venue-nav-list {
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px) {
    #category-container {
        width: 100%;
    }
}


// RESPONSIVE - MOBILE --------------------------------------
@media all and (max-width: 500px) {
    .event-card {
        max-width: 20em !important;
        margin: 0 0.5em;
    } 
    .card-grid {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap !important;
    }
    .card-grid .MuiGrid-item {
        flex: 0 0 auto;
        width: 18em;
    }
}